/* =========================================
   ANIMACIONES Y LOADER (CERVEZA)
   ========================================= */

/* TEMBLOR DE PANTALLA (SHAKE) */
@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

/* --- ESTILOS DEL LOADER --- */
.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.95);
    /* Fondo casi negro total */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    /* Por encima de todo */
}

/* LA JARRA */
.beer-glass {
    width: 60px;
    height: 100px;
    border: 4px solid #fff;
    border-top: none;
    border-radius: 0 0 10px 10px;
    position: relative;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}

/* EL MANGO DE LA JARRA */
.beer-glass::after {
    content: '';
    position: absolute;
    top: 20px;
    right: -20px;
    width: 15px;
    height: 40px;
    border: 4px solid #fff;
    border-left: none;
    border-radius: 0 10px 10px 0;
}

/* EL LIQUIDO (CERVEZA) */
.liquid {
    position: absolute;
    bottom: 5px;
    left: 5px;
    right: 5px;
    background: #ffc107;
    border-radius: 0 0 5px 5px;
    height: 0%;
    animation: llenar 2s infinite linear;
}

/* LA ESPUMA */
.foam {
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 15px;
    background: white;
    border-radius: 10px;
    opacity: 0;
    animation: espuma 2s infinite linear;
}

/* ANIMACIONES */
@keyframes llenar {

    0%,
    20% {
        height: 0%;
    }

    80%,
    100% {
        height: 80%;
    }
}

@keyframes espuma {

    0%,
    75% {
        opacity: 0;
        top: 100%;
    }

    80% {
        opacity: 1;
        top: 20%;
    }

    100% {
        opacity: 0;
        top: 20%;
    }
}