<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<!-- 
    Interfaz de emergencia usada mientras se hacian pruebas de autorización y autenticación
-->

<head th:replace="~{menu :: head-comun('Error')}"></head>

<body class="bg-light">
    <!-- Loader (Incluido desde menu.html) -->
    <div th:replace="~{menu :: loader}"></div>

    <div class="container text-center" style="margin-top: 100px;">
        <h1 class="display-1 text-danger">Error</h1>
        <p class="lead">Ha ocurrido un error inesperado o no tiene permiso para ver esta página.</p>

        <p th:text="${message}"></p>

        <a th:href="@{/home}" class="btn btn-primary mt-3">Volver al Inicio</a>
    </div>

    <!-- Scripts (Incluidos desde menu.html) -->
    <div th:replace="~{menu :: scripts-comun}"></div>
</body>

</html>